.banner-bg{
    background-image: url('../../../../public/bg-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}


/* .banner-bg::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #0F172B;
    opacity: 0.6;
    z-index: 1;
} */

.overly{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0f172bb2;
}

